body{
    background-color: #fffaf2;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.divdes{
    border-right: 3px solid #d8ded6;
}

.newsimg{
    width: 320px;
    height: 250px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex: 1;
}

.news{
    border-bottom: 3px solid #d8ded6;
    justify-content: center;
    display: flex;
}

.newstitle{ 
    padding-top: 1rem;
    padding-left: 2rem;
}